h1 {
    text-align: center;
}

nav-links {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center; /* Centra el contenido del nav horizontalmente */
}

nav ul {
    list-style: none; /* Elimina los puntos de lista */
    padding: 0; /* Elimina el relleno de la lista */
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

table td tr {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%; /* Ancho deseado de la tabla */
    margin: 0 auto; /* Centrar horizontalmente la tabla */
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center; /* Centrar el texto en las celdas */
}

.text{
    font-weight: bold;
}

.typewriter {
    overflow: hidden; /* Para ocultar el texto que aún no se ha mostrado */
    border-right: .15em solid orange; /* Efecto de cursor */
    white-space: nowrap; /* Para que el texto no se divida en varias líneas */
    letter-spacing: .15em; /* Espaciado entre letras */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }
  
  /* Animación de escribir */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* Animación del cursor parpadeante */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }